<!DOCTYPE html>
<html>

<head>
    <title>Qrued Resources - About Us</title>
    <link rel="stylesheet" type="text/css" href="about.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="landing.html">Home</a></li>
                <li><a href="register.html">Get Started</a></li>

            </ul>
        </nav>
    </header>

    <section class="about-section">
        <h2>About Us</h2>
        <p>
            Qrued Resources is an online educational platform that aims to provide a wide range of
            lectures and learning materials to help individuals enhance their knowledge and skills.
        </p>
        <p>
            Whether you're a learner seeking to expand your knowledge or a creator looking to share your expertise,
            Qrued Resources offers a diverse range of lectures on various topics.
        </p>
        <p>
            Our mission is to make learning accessible to everyone, offering valuable educational
            resources in various domains. Whether you are a student, professional, or an enthusiast,
            Qrued Resources has something for you.
        </p>
        <p>
            We believe in the power of education to transform lives and empower individuals. With
            Qrued Resources, you can unlock your potential and embark on a journey of continuous
            learning and growth.
        </p>
        <p>
            Join our community today and start exploring the world of knowledge with Qrued Resources.
        </p>
    </section>

    <footer>
        <p>&copy; 2023 Qrued Resources. All rights reserved.</p>
    </footer>
</body>

</html>